<%- include("partials/header.ejs") %>
  <body>
    <%- include("partials/navbar.ejs") %>

    <div class="container mt-5">
      <h1>About EC2 and S3 Bucket Deployment</h1>
    </div>
  </body>
</html>
